        /* font-name */

        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

        .quicksand-Quicksand {
            font-family: "Quicksand", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }

        /* color section */
        /* bg-orange */

        .width-main {
            max-width: 1158.61px;
            margin: 0 auto;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Quicksand', sans-serif;
        }

        .bg-orange {
            background-color: rgb(254, 163, 1);
        }

        .bg-black {
            background-color: rgb(17, 17, 17);

        }

        .bg-button-light-green {
            border-radius: 47.93px;

            background: rgb(149, 178, 38);
        }

        /* back-ground our-story section */
        .our-story {
            position: relative;
            padding-bottom: 5%;
        }

        .bg-our-story {
            background: url('/assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
            ;
            background-position: fixed;
            position: absolute;
            height: 110%;
            width: 100vw;
            z-index: -1;
        }

        /* font color */
        .orange {
            color: rgb(254, 163, 1);
        }

        .black {
            color: rgb(17, 17, 17);
        }

        .blue {
            color: rgb(1, 172, 253);
        }

        .light-aqua {
            color: rgb(5, 212, 223);
        }

        .aqua-blue {
            color: rgb(93, 88, 239);
        }

        .deep-black {
            color: rgb(0, 0, 0);
        }

        .white {
            color: rgb(255, 255, 255);
        }

        .read-more-middle {
            color: rgb(135, 0, 255);

        }

        /* font size */
        .nav-font {
            font-size: 1.25em;
        }





        /* sharded all */

        .display-flex {
            display: flex;
        }

        /* buttom sherded */
        .content-buttom,
        .enroll,
        .View-All {
            padding: 10px 40px;
            border-radius: 8px;
            border: none;
        }

        .bg {
            background-image: url('/assets/bg.png');
        }

        /*  */


        .marquee {
            font-size: 2rem;
            padding: 30px 0;
            color: black;
            font-weight: 600;
        }

        .marque-container {
            max-width: 1140px;
            margin: 0 auto;
        }

        .marque-container {
            /* height: 70px; */
            margin: 35px auto;
            border-top: 2px solid rgb(254, 163, 1);
            border-bottom: 2px solid rgb(254, 163, 1);


        }



        /* navbar */
        .logo {
            height: 30px;
            width: 30px;
            align-items: center;

        }

        .nav {
            align-items: center;
            justify-content: space-between;
        }

        .school-nav {
            justify-content: center;
            align-items: center;
        }

        .school-name {
            font-size: 2em;
            font-weight: 700;
        }


        .link-li,
        .links {

            list-style: none;
            margin: 20px;
        }

        .links-a,
        .read-more,
        .anchor {

            /* font-size: 1.25em; */
            text-decoration: none;

        }



        /* banner */

        .banner {
            /* max-width: 1158.61px;
       max-height: 575px; */
            max-width: 1158.61px;
            /*1 rem = 16px*/
            justify-content: space-between;
            align-items: center;
        }

        .banner-info {
            max-width: 50%;
            min-height: 25rem;
            justify-content: center;
            flex-direction: column;
            gap: 1rem;
            align-items: start;
        }

        .title-clolor {
            font-size: 3.25em;
            font-weight: 700;
        }


        .inner-text {
            font-size: 1.25em;
            font-weight: 400;
            height: 50px;
            width: 100px;
            background: orange;
            position: absolute;
            top: 0;
            left: 0;
        }


        /* currayculam */


        .titel-titel {
            font-size: 3em;
            font-weight: 700;
            text-align: center;

        }

        .skill-container {
            gap: 30px;
            justify-content: center;
            margin-top: 60px;
            margin-bottom: 80px;
            align-items: center;
        }

        .skill {
            text-align: center;
            width: 367.8px;
            height: 476.78px;
            padding: 50px;


        }

        .skill-kinder {
            position: relative;
            box-sizing: border-box;
            border: 0.94px solid rgb(222, 245, 255);
            border-radius: 18.86px;
            box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
            /* box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05); */
            /* background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255); */
            background: linear-gradient(rgb(0, 179, 255), rgba(255, 255, 255, 0));
        }

        .skill-elementry {
            box-sizing: border-box;
            border: 0.94px solid rgb(255, 244, 220);
            border-radius: 18.86px;

            box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
            background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
        }

        .skill-middle {
            box-sizing: border-box;
            border: 0.94px solid rgb(242, 232, 255);
            border-radius: 18.86px;

            box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
            background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
            /* skill-button  */

        }

        .left-arrow,
        .right-arrow {
            width: 60px;
            height: 60px;
            border: none;
            padding: 20px;
            border-radius: 50%;
            font-size: 1.5em;
            font-weight: 700;
            text-align: center;

        }

        .button-container {
            text-align: center;
        }

        /* our story section  */
        .our-story {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .our-story-titel {
            margin: 80px 0 80px 0;
        }

        .story-container {
            display: flex;
            justify-content: center;
            align-items: start;
        }

        .story {
            background: white;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            border-radius: 10px;
            overflow: clip;
        }

        .story-btn {
            position: absolute;
            top: 70%;
            left: 25%;
            z-index: 10;
            height: 29px;
            width: 145px;
            border: none;
            border-radius: 15px;
        }

        .story-img {
            z-index: 5;
        }

        .small-title {
            margin-top: 20px;
        }

        .story-1 {
            background-color: white;
            height: 30.5rem;
            border-radius: 10px;
            overflow: clip;
        }

        .story-1>button {
            top: 67%;
            left: 17%;
        }

        .story-1>p {
            padding: 5% 2% 0 0;
        }

        .story-1>h5 {
            padding: 5% 5% 0 0;
            font-size: 1rem;
        }

        .sub-story-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;
        }
    
        .view-all-btn{
            border: none;
            border-radius: 10px;
            background-color: black;
            font-weight: 600;
            color: white;
            padding: 10px 20px;
            margin-top: 80px;
        }

        /* footer */
        .footer-div {
            width: 100vw;
            background-color: rgb(0, 179, 255);
        }

        .bg-footer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            align-items: start;
            padding-top: 4%;
        }

        .footer-school-title {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

        .footer-school-title>.img {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .social-media {
            text-align: center;
        }
        .links-footer{
            margin: 0px;
            list-style: none;
        }

        .lines-3 {
            display: none;
            position: relative;
            left: 90%;
        }

        .mobile-div {
            display: none;
        }

        @media screen and (max-width: 576px) {
            .nav {
                flex-direction: column;
                align-items: flex-start;
                border-bottom: 2px solid orange;
                padding-bottom: 10px;
                width: 100%;
                overflow-x: hidden;
            }

            .school-name {
                visibility: hidden;
            }

            .lines-3 {
                display: block;
            }

            .link-container {
                flex-direction: column;
                align-items: center;
                display: none;
            }

            .Contact {
                display: none;
            }

            .banner {
                flex-direction: column-reverse;
            }

            .title-clolor,
            .titel-titel {
                font-size: 2rem;
            }

            .story-1 {
                display: none;
            }

            .skill-container {
                flex-direction: column;
            }

            .story-container> {
                width: 98vw;
            }

            .sub-story-container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 100%;
            }

            .sub-story-container>.story {
                width: 11rem;
            }

            .sub-story-container>.story>button {
                left: 6%;
            }

            .banner-image>img {
                height: auto;
                width: 20rem;
            }

            .mobile-div {
                display: block;
            }

            .bg-footer {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }

            .footer-list-container {
                display: flex;
                
                align-items: flex-start;
            }

            .footer-link>h4 {
                text-align: center;
                padding: 0;
            }

            .bg-footer {
                padding: 5px;
                align-items: start;
                justify-items: start;
            }

            .footer-list-container {
                flex-direction: column;

            }
            
        }